<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a comment</title>
</head>
<body>
<h1>Submit a comment</h1>
<div>
    <form method="post">
        <label for="ticket_id">Ticket ID</label>
        <input name="ticket_id" id="ticket_id" required>
        <label for="name">Name</label>
        <input name="name" id="name" required>
        <label for="email">Email</label>
        <input name="email" id="email">
        <label for="comment">Please enter your comment</label>
        <input name="comment" id="comment">
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>